body {
  overflow-x: hidden;
}
.Nav_bar_outter {
  width: 100vw;
  height: 100%;
  background-color: rgb(10, 52, 80);
}

.Nav_bar_signIn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  font-size: 2rem;
  padding: 5px;
  height: 20vh;
  width: 100%;
}

.Nav_bar_signIn button {
  border: none;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 81, 128);
  margin-left: 20px;
  width: 8rem;
  height: 2rem;
  color: aliceblue;
  margin-top: 20px;
  border-radius: 2px;
}
.Nav_bar_container {
  color: rgb(216, 216, 218);
  display: flex;
  width: 100vw;
  height: 90vh;
  position: relative;
}
.Nav_bar_bottom {
  color: rgb(216, 216, 218);
  position: absolute;
  display: flex;
  background-color: rgb(10, 52, 80);
  top: 80%;
  height: 10%;
  padding-left: 20px;
  width: 60vw;
  justify-content: space-between;
  align-items: center;
}
.Nav_bar_bottom h1 {
  font-size: 2rem;
  color: rgb(206, 151, 83);
}
.Nav_bar_button {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 4%;
  justify-content: center;
}
.Nav_bar_button1 {
  height: 100%;
  width: 100%;
  border: none;
  background-color: rgb(0, 81, 128);
  border-radius: 2px;
}
.Nav_bar_button2 {
  background-color: rgb(67, 92, 107);
  height: 100%;
  width: 100%;
  border: none;
  border-radius: 2px;
}
.Nav_bar_page0 {
  background-image: url("./images/photo-1473777584131-937735dc793a.jpg");
  background-size: cover;
  width: inherit;
  display: flex;
  font-size: 4rem;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20%;
}
.Nav_bar_page1 {
  background-image: url("./images/artem-page-T7OP6oIbopQ-unsplash.jpg");
  background-size: cover;
  width: inherit;
  display: flex;
  font-size: 4rem;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20%;
  color: rgb(125, 134, 141);
}
.Nav_bar_page2 {
  background-image: url("./images/photo-1567449303098-6dc0cc40a275.jpg");
  background-size: cover;
  width: inherit;
  display: flex;
  font-size: 4rem;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20%;
}
